<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./public/stylesheets/index.css">
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/element-ui/lib/index.js"></script>
    <script src="./node_modules/axios/dist/axios.js"></script>
    <script src="./node_modules/lodash/lodash.js"></script>
    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <style type="text/css">

        /*以下行间距是单行的样式是我写的*/

		.el-row el-col el-col-12 el-col-sm-3{
			margin-top: 45px;
		}
		.el-col-12 {
			width: 95%;
		}
		.el-table el-table--fit el-table--enable-row-hover{
			 height: 321px;
		}
		.el-message{
			text-align: center;
		}
		.el-table_1_column_2  {
			padding-left: 20px;
		}
		.el-row{
			padding-left: 13px; 
			height: 70px;
			margin-top: 6px;
		}
		.el-dialog__body{
			padding-right: 65px;
		}
        .el-button--small{
            border-radius: 20px;
        }
		.el-table el-table--fit el-table--scrollable-y el-table--enable-row-hover el-table--enable-row-transition{
			    height: 321px;
		}
        .el-table__body-wrapper is-scrolling-none{
            height: 200px;
        }
        .el-table{
            width: 764px;
            height: 240px;
        }
        .el-table .warning-row {
            background: oldlace;
        }
        .el-table .success-row {
            background: #f0f9eb;
        }
        .form{
            padding-top: 15px;
        }
        .packageScan{
            border: 1px solid rgb(238, 162, 54);
            padding: 0px;
            border-radius: 4px;
            height: 565px;
        }
        .my-span {
            margin-right: 15px;
        }
        .grid-content {
            border-radius: 4px;
            min-height: 60px;
        }
        .el-col el-col-24 el-col-sm-3{
            height: 97px;
            font-size: 12px;
        }
        .el-col-sm-3 {
            width: 24.5%;
        }
        .el-col {
            border-radius: 4px;
        }
        .el-button el-button--primary el-button--large{
            margin: 0px 8px 48px 151px;
        }
        .el-button--large {
            padding: 10px 13px;
            font-size: 12px;
            border-radius: 15px;
        }
        /*----liang------*/

        .el-col-sm-18 {
            width: 93%;
        }

        .bg-purple-dark {
            background: #99a9bf;
        }

        .bg-purple {
            background: #d3dce6;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .demo-block {
            margin-top: 2px;
            border: 1px solid #cdd2d2;
            border-radius: 4px;
            transition: .2s;
            background-color: #f4f4f4;
            color: #555555;
        }

        .opt_steps_on {
            color: #555555;
        }

        .opt_steps_out {
            color: #dddddd;
        }

        .dark-blue {
            background: #20A0FF;
        }

        .light-blue {
            background: #1D8CE0;
        }

        .el-step__head.is-text.is-process {
            color: #fff;
            background-color: #008000;
            border-color: #008000;
        }

        .el-loading-mask_init {
            position: absolute;
            z-index: 10000;
            background-color: rgba(255, 255, 255, .9);
            margin: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: opacity .3s;
        }

        .el-loading-spinner_init {
            top: 50%;
            margin-top: -21px;
            width: 100%;
            text-align: center;
            position: absolute;
        }

        .el-loading-spinner_init .circular_init {
            width: 42px;
            height: 42px;
            animation: loading-rotate 2s linear infinite;
        }

        .el-loading-spinner_init .path_init {
            animation: loading-dash 1.5s ease-in-out infinite;
            stroke-dasharray: 90, 150;
            stroke-dashoffset: 0;
            stroke-width: 2;
            stroke: #20a0ff;
            stroke-linecap: round;
        }

        .el-loading-spinner_init .el-loading-text_init {
            color: #20a0ff;
            margin: 3px 0;
            font-size: 14px;
        }

        .el-table th {
            text-align: center;
        }

        .el-table .cell {
            text-align: center;
        }

        /*.el-message {
            min-width: 150px;
            left: 170px;
        }*/

        [v-cloak] {
            display: none !important;
        }
    </style>
    <title>包装扫码工具</title>
</head>
<body>
<div class="el-loading-mask_init">
    <div class="el-loading-spinner_init">
        <svg viewBox="25 25 50 50" class="circular_init">
            <circle cx="50" cy="50" r="20" fill="none" class="path_init"></circle>
        </svg>
        <p class="el-loading-text_init">加载中...</p>
    </div>
</div>

<div id="packageScan" class="packageScan" v-loading="submitLoading" element-loading-text="数据上传中...">

    <el-form :module="form" ref="formRules" :rules="formRules" class="form" label-width="100px">
        <el-form-item label="订单编号" prop="orderId">
            <el-input style="width: 220px;" v-model="form.orderId" @keyup.enter.native="getOrderId('orderId')"></el-input>&nbsp;&nbsp;&nbsp;
            <span class="my-span">{{form.nameZh}}</span><span class="my-span">{{form.projectNo}}</span><span class="my-span">{{form.projecNote}}</span>
        </el-form-item>
		<audio controls height="100" width="100" style="display:none;" id="err-orderId">
		  <source src="./err-orderId.mp3" type="audio/mpeg">
		  <embed height="50" width="100" src="./err-orderId.mp3">
		</audio>
		<audio controls height="100" width="100" style="display:none;" id="err-table">
		  <source src="./err-table.mp3" type="audio/mpeg">
		  <embed height="50" width="100" src="./err-table.mp3">
		</audio>
        <!--放置一个隐藏表单项，存放订单编号响应信息中的orderId字段，用于后面的操作使用-->
        <el-form-item prop="od" v-show="false">
            <el-input v-model="form.od" type="hidden"></el-input>
        </el-form-item>
        <!-- <el-form-item label="包装条码" prop="packageSn">
            <el-input style="width: 220px;" v-model="form.packageSn" @keyup.enter.native="getPack" ></el-input>
        </el-form-item> -->
        <el-form-item label="产品条码" prop="lists">
            <el-input style="width: 220px;" v-model="form.lists" @keyup.enter.native="getProd" ></el-input>
        </el-form-item>
    </el-form>

    <p style="padding-left:13px;">产品列表</p>
    <el-row  style="height: 321px; background-color: #ffffff; padding-top: 0px;" id="tableId">
            <el-table :data="scanData" highlightCurrentRow="true" height="321" style="padding-top: 0px;" :row-class-name="tableRowClassName" id="table"></el-table-column>
                <el-table-column prop="index_num" label="序号" width="100" align="left-side" type="index" :index="indexMethod"></el-table-column>
                <el-table-column prop="product_model" label="产品型号" width="200" align="left"></el-table-column>
                <el-table-column prop="lists" label="产品条码" width="*" ></el-table-column>
                <el-table-column  label="操作" width="100">
                     <template slot-scope="scope">
                         <el-button size="small" type="danger" @click="deleteRow(scope.$index, scanData)">移除</el-button>
                     </template>
                </el-table-column>
            </el-table>
    </el-row>

    <!--class="grid-content,bg-purple-light                class="grid-content bg-purple-light""-->
    <el-row :gutter="0" style="background-color: #ffffff; text-align: center; margin-top: 6px">
        <el-col :span="12">
            <el-button type="primary" size="large" @click="formSubmit('form')" >提交</el-button>
            <el-button type="danger" size="large" @click="resetForm('form')">重置</el-button>
        </el-col>
        <el-col :span="12" :sm="3" style="padding-bottom:5px; width: 20.5%;">已扫码:{{submitArr.length}}&nbsp;&nbsp;版本号:{{version}}</el-col>
	</el-row>


    <!--登录对话框-->
    <el-dialog title="用户登录" v-model="loginForm.modelShow" size="small" top="28%" :show-close="false"
               :close-on-click-modal="false" :close-on-press-escape="false" :visible.sync="loginForm.modelShow">
        <el-form :model="loginForm" :rules="loginRules" ref="loginForm" label-width="100px">
            <el-form-item label="帐    号" prop="userName">
                <el-input style="width: 220px;" v-model="loginForm.userName" :autofocus="true" auto-complete="off"
                          @keyup.enter.native="loginFormSubmit('loginForm')"></el-input>
            </el-form-item>
            <el-form-item label="密    码" prop="userPwd">
                <el-input style="width: 220px;" v-model="loginForm.userPwd" type="password" auto-complete="off"
                          @keyup.enter.native="loginFormSubmit('loginForm')"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="loginFormSubmit('loginForm')" :disabled="loginForm.isDisabled">{{
                loginForm.buttonText }}
            </el-button>
        </div>
    </el-dialog>

</div>

<script>
    var vue = new Vue({
        el: '#packageScan',
        data:  function () {
            var validateOrderId = (rule, value, callback) => {
                /*这里能在满足条件之后自动去掉校验信息 ，是因为callback(),正因为如此，所以在每一个条件最后都必须调用callback()*/
                var valueStr = this.form.orderId;
                if (valueStr === '') {
                    callback(new Error('请输入订单编号'));
                }else {
                    callback();
                }
            };
            var validatePackageSn = (rule, value, callback) => {
                var valueStr = this.form.packageSn;
                /*这里能在满足条件之后自动去掉校验信息 ，是因为callback(),正因为如此，所以在每一个条件最后都必须调用callback()*/
                if (valueStr === '') {
                    callback(new Error('请输入包装条码'));
                } else {
                    callback();
                }
            };
            var validateLists = (rule, value, callback) => {
                var valueStr = this.form.lists;
                /*这里能在满足条件之后自动去掉校验信息 ，是因为callback(),正因为如此，所以在每一个条件最后都必须调用callback()*/
                if (valueStr === '') {
                    callback(new Error('请输入产品条码'));
                } else if (valueStr.length < 3) {
                    callback(new Error('产品条码输入不正确'));
                }else {
                    callback();
                }
            };
            return {
                //initUrl: 'http://10.0.0.230:8080/udandtu-web-admin/',
	             initUrl : 'https://p2.udantech.com/udandtu-web-admin/',
                //登录表单校验
                loginRules: {
                    userName: [{required: true, message: '请输入帐号', trigger: 'blur'}],
                    userPwd: [{required: true, message: '请输入密码', trigger: 'blur'}]
                },
                //登录表单初始化
                loginForm: {
                    userName: '',
                    userPwd: '',
                    tokenId: '',
                    userId: '',
                    deviceId: '',
                    loginType: '',
                    clientCode: '',
                    clientVersion: '',
                    modelShow: true,
                    isDisabled: false,
                    buttonText: "确 定"
                },
                //扫码表单校验规则
                formRules: {
                    orderId: [{require:true, validator: validateOrderId, trigger: 'blur'}],
                    //packageSn: [{require:true, validator: validatePackageSn, trigger: 'blur'}],
                    lists: [{require:true, validator: validateLists, trigger: 'blur'}]
                },
                //扫码表单初始化
                form: {
                    orderId: '',
                    //packageSn: '',
                    lists: '',
                    od: '',
                    nameZh: '',
                    projectNo: '',
                    projecNote: ''
                },
                //其他的初始化
                listsArray: [],
                tableData: [],
                submitLoading: false,
                submitArr: [],
                version: require('./package.json').version //读取版本信息
            }
        },
        computed: {
            /*实时扫描计算表格*/
            scanData: function () {
                var dataArr = this.tableData;
                var newArr = [];
                var len = dataArr.length;
                if (len > 0) {
                    for (var i = 1; i <= len; i++) {
                        newArr.unshift({
                            index_num: i,
                            lists: dataArr[i-1]['lists'],
                            product_model: dataArr[i-1]['product_model']
                        });
                    }
                    return newArr;
                }
                return [];
            }
        },
        methods: {
            /* 动态切换table表格样式 */
            tableRowClassName({row, rowIndex}) {
                if(rowIndex%2 == 0) {
                    return 'warning-row';
                }else{
                    return 'success-row';
                }
            },
            /*获取mac地址*/
            initMac: function () {
                var _self = this;
                require('getmac').getMac(function (err, macAddress) {
                    if (err) throw err
                    _self.loginForm.deviceId = macAddress;
                });
                document.getElementsByClassName('el-loading-mask_init')[0].style.display = 'none';
            },
            /*提示信息接口*/
            openMsg: function (type, msg, lists) {
				var _self = this;
                if (type == null || type == undefined) {
                    type = 'error';
                    msg = '操作失败';
                }
                if (type == 'success') {
                    //判断是否存在于已扫码中
                    //if (!_self.contains(_self.submitArr, lists)) {
                        //_self.submitArr.push(lists);
                    //}else{
						//_self.submitArr.length + 1;
					//}
					_self.submitArr.push(lists);
                }
                _self.$message({
                    message: msg,
                    type: type,
                    duration: 2000   //关闭时间 单位为毫秒 为0时不关闭
                });
            },
            /*外部方法*/
            contains: function (arr, obj) {
                var i = arr.length;
                while (i--) {
                    if (arr[i] == obj) {
                        return true;
                    }
                }
                return false;
            },
            /*登录操作*/
            loginFormSubmit: function (formName) {
                var checkData = false;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        checkData = true;
                    } else {
                        return false;
                    }
                });
                if (checkData) {
                    var _self = this;
                    var _dom = document.getElementsByClassName('el-input__inner');
                    //从package.json中读取固定版本等的信息
                    var pjs = require('./package.json');
                    _self.loginForm.buttonText = '提交中...';
                    _self.loginForm.isDisabled = true;
                    axios({
                            url: this.initUrl + 'client/login_client',
                            method: 'post',
                            params: {
                                rm: new Date().getTime(),
                                loginName: _self.loginForm.userName,
                                loginPwd: _self.loginForm.userPwd,
                                loginType: pjs.config.loginType,
                                deviceId: _self.loginForm.deviceId,
                                clientCode: pjs.config.clientCode,
                                clientVersion: pjs.version
                            },
                            timeout: 20000
                        }
                    ).then(function (response) {
                        var rsObj = response.data;
                        if (rsObj.rscode > 0) {
                            _self.loginForm.tokenId = rsObj.rsmsg.tokenId;
                            _self.loginForm.userId = rsObj.rsmsg.id;
                            _self.loginForm.modelShow = false;
                            _self.loginForm.userPwd = '';
                            _dom[0].focus;
                        } else {
                            _self.loginForm.buttonText = '确定';
                            _self.loginForm.isDisabled = false;
                            alert(rsObj.rsmsg);
                        }
                    }).catch(function (error) {
                        _self.loginForm.buttonText = '确定';
                        _self.loginForm.disable = false;
                        alert(error);
                    });
                }
            },
            /*滚动条操作*/
            scrollBottom: function () {
                var div = document.getElementsByClassName('el-table__body-wrapper is-scrolling-none')[0];
                div.scrollTop = div.scrollHeight;
            },
            /*订单编号操作*/
            getOrderId: function (arg) {
                var _self = this;
                var dom = document.getElementsByClassName('el-input__inner');
				if(_self.form.orderId === ''){
					alert("请输入订单编号");
					return false;
				}
                axios({
                        url: this.initUrl + 'client/findOrderInfo',
                        method: 'post',
                        params: {
                            orderNo: _self.form.orderId,
                            userId: _self.loginForm.userId,
                            deviceId: _self.loginForm.deviceId,
                            tokenId: _self.loginForm.tokenId
                        },
                        timeout: 20000
                    }
                ).then(function (response) {
                    var rsObj = response.data;
                    if (rsObj.rscode > 0) {
                        var a = rsObj.rsmsg.project.projectNo;
                        var b = rsObj.rsmsg.project.custom.nameZh;
                        var c = rsObj.rsmsg.project.projecNote;
                        od = JSON.stringify(rsObj.rsmsg.id);
                        _self.form.od = od;
                        _self.form.nameZh = b;
                        _self.form.projectNo = a;
                        _self.form.projecNote = c;
                        dom[2].focus();
                    } else {
                        //alert(rsObj.rsmsg);//订单编号错误，给出提示，并重新定位到订单编号输入框
						//alert(_self.err);
						document.getElementById('err-orderId').play();
					   dom[0].focus();
                    }
                }).catch(function (error) {
                    alert(error);
                });
            },
            /*包装条码操作*/
            getPack: function () {
                var _self = this;
                if (_self.form.packageSn == '') {
                    alert("请输入包装条码");
					return false;
                }
                var dom = document.getElementsByClassName('el-input__inner');
                dom[3].focus();
            },
            /*产品条码操作*/
            getProd: function (arg) {
                var arrData = this.tableData;
                var _self = this;
                if (_self.form.od != '' && _self.form.od != undefined) {
                    //如果列表中已有数据，则进行输入排重
                    if (arrData.length !== 0) {
                        //将列表中的每一项数据的产品条码与其进行比较
                        var exitsLists = '';
                        var inputLists = _self.form.lists;
                        var flag;
                        for (var i = 0; i < arrData.length; i++) {
                            exitsLists = arrData[i].lists;
                            if (exitsLists == inputLists) {
                                alert("产品条码输入重复，请重新输入");
                                flag = false;
                                return false;
                            } else {
                                flag = true;
                            }
                        }
						if(inputLists === ''){
							alert("请输入产品条码");
							return false;
						}
                        if (flag) {
                            axios({
                                    url: this.initUrl + 'client/checkScanSn',
                                    method: 'post',
                                    params: {
                                        snCode: _self.form.lists,
                                        orderId: _self.form.od,
                                        userId: _self.loginForm.userId,
                                        deviceId: _self.loginForm.deviceId,
                                        tokenId: _self.loginForm.tokenId
                                    },
                                    timeout: 20000
                                }
                            ).then(function (response) {
                                var rsObj = response.data;
                                if (rsObj.rscode > 0) {
                                    var listStr = _self.form.lists;
                                    var product_model = rsObj.rsmsg.object_type;
                                    // _self.tableData.unshift({lists: listStr, product_model: product_model});
                                    _self.tableData.push({lists: listStr, product_model: product_model});
                                    _self.form.lists = '';
                                    //_self.scrollBottom();
                                } else {
                                    alert(rsObj.rsmsg);
                                }
                            }).catch(function (error) {
                                alert(error);
                            });
                        }
                    } else {
						if(_self.form.lists === ''){
							alert("请输入产品条码");
							return false;
						}
                        //列表中没有数据，正常提交
                        axios({
                                url: this.initUrl + 'client/checkScanSn',
                                method: 'post',
                                params: {
                                    snCode: _self.form.lists,
                                    orderId: _self.form.od,
                                    userId: _self.loginForm.userId,
                                    deviceId: _self.loginForm.deviceId,
                                    tokenId: _self.loginForm.tokenId
                                },
                                timeout: 20000
                            }
                        ).then(function (response) {
                            var rsObj = response.data;
                            if (rsObj.rscode > 0) {
                                var listStr = _self.form.lists;
                                var product_model = rsObj.rsmsg.object_type;
                                if (listStr != '') {
                                    //判断是否重复
                                    var checkData = false;
                                    for (var i = 0; i < arrData.length; i++) {
                                        var obj = arrData[i];
                                        if (listStr == obj['lists']) {
                                            checkData = true;
                                            break;
                                        }
                                    }
                                    if (checkData) {
                                        _self.openMsg('error', '产品条码重复', '');
										document.getElementById('err-table').play();
                                    } else {
//                                        _self.tableData.unshift({lists: listStr, product_model: product_model});
                                        _self.tableData.unshift({lists: listStr, product_model: product_model});
                                    }
                                }
                                _self.form.lists = '';
                            } else {
                                alert(rsObj.rsmsg);
                            }
                        }).catch(function (error) {
                            alert(error);
                        });
                    }
                } else {
                    //alert("订单编号输入有误,请重新输入");
					document.getElementById('err-orderId').play();
                    return false;
                }
            },
            /*表格删除*/
            deleteRow: function (index, rows) {
				var arry = this.tableData;
				var i = arry.length;
				//index,是要删除元素的起始位置，1是删除的元素个数
				arry.splice(i-index-1,1);
                //rows.splice(index, 1);
				return arry;
            },
			indexMethod:function(index){
				var _self = this;
				var len = _self.tableData.length;
				return len - index ;
			},
            /*扫码表单提交操作*/
            formSubmit: function (formName) {
                var _self = this;
                listsArray = [];
                var arr = _self.tableData;
                var _dom = document.getElementsByClassName('el-input__inner');
                for (var i = 0; i < arr.length; i++) {
                    var obj = arr[i];
                    listsArray.push(obj['lists']);
                }
                _self.submitLoading = true;
                //lists参数要求是一个数组
                if (!(arr.length == 0)) {
                    axios({
                        url: this.initUrl + 'client/savePackageScan',
                        method: 'POST',
                        data: {
                            rm: new Date().getTime(),
                            orderId: _self.form.od,
                            userId: _self.loginForm.userId,
                            //packageSn: _self.form.packageSn,
                            deviceId: _self.loginForm.deviceId,
                            tokenId: _self.loginForm.tokenId,
                            lists: listsArray
                        },
                        timeout: 20000
                    }).then(
                        function (response) {
                            _self.submitLoading = false;
                            var rsObj = response.data;
                            if (rsObj.rscode > 0) {
                                _self.openMsg('success', '提交成功', _self.form.orderId);
                                _self.resetForm('form');
                                //焦点置于订单编号
                                _dom[0].focus();
                            } else {
                                alert(rsObj.rsmsg);
                            }
                        }
                    ).catch(
                        function (error) {
                            _self.submitLoading = false;
                            _self.openMsg('error', '网络连接超时');
                            alert(error);
                        }
                    );
                } else {
                    //当产品列表点击删除后，不给提交
                    alert("提交数据为空，请重新输入");
                    _self.submitLoading = false;
                    return false;
                }
            },
            /*重置扫码表单*/
            resetForm: function (formName) {
                var _self = this;
                var _dom = document.getElementsByClassName('el-input__inner');
                //重置输入框，通过当前对象的form表单取属性
                _self.form.orderId = '';
                //_self.form.packageSn = '';
                _self.form.lists = '';
                _self.form.nameZh =  '',
                _self.form.projectNo = '',
                _self.form.projecNote = '',
                //重置校验信息为空
                //_self.$refs['form'].clearValidate();
                    _self.$refs.formRules.clearValidate();
                //同时还需要清空产品列表中的数据
                _self.tableData = [];
                _dom[0].focus();
            }

        }
    });
    /*初始化mac*/
    vue.initMac();
</script>
</body>
</html>
